<app-firstheader></app-firstheader>

<section class="banner-area bg-1">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="banner-content">
                    <h1 class="wow fadeInUp animated" data-wow-delay="3s" style="margin-top: 5px; font-size: 3.5rem;">The leader in quality pool services & renovation</h1>
                    <p class="wow fadeInUp animated" data-wow-delay="2s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum suspendisse.</p>

                    <div class="banner-btn wow fadeInUp animated" data-wow-delay="1s">
                        <a routerLink="/contact" class="default-btn"><span>Request a quote</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="feature-area bg-color pt-100 pb-70">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="single-feature">
                <i class="flaticon-pool"></i>
                <h3>Pool services</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem, ipsum dolor. Lorem ipsum dolor Lorem ipsum dolor sit.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-feature">
                <i class="flaticon-pool-cleaning"></i>
                <h3>Pool Cleaning</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, omnis. Lorem ipsum dolor sit. Lorem, ipsum dolor.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="single-feature">
                <i class="flaticon-swimming-pool-4"></i>
                <h3>Pool Renovation</h3>
                <p>Lorem, ipsum dolor. Lorem ipsum dolor sit amet. Lorem, ipsum dolor. Lorem ipsum dolor sit amet.lorem4 Lorem ipsum dolor sit.</p>
            </div>
        </div>
    </div>
</div>
</section>


<section class="about-area pt-100 pb-70">
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="about-img">
                <img src="assets/assets/img/my-about-img.jpg" alt="about-img" style="border-radius: 10px;">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="about-content">
                <span class="top-title">Who We Are</span>
                <h2>We are a friendly and professional pool services & renovation company</h2>
                <p>Lorem ipsum  repellendus ut alias repellendus ut alias repellendus ut alias repellendus ut alias repellendus ut doloremque officiis animi adipisci. Quis, ipsum laboriosam, commodi rem dignissimos, atque consequuntur quod velit asperiores incidunt amet dolores officia dolorum illum ducimus doloremque? At eum nemo nesciunt exercitationem similique illum natus excepturi beatae praesentium repellat? Omnis, esse! repellat? Omnis, esse!</p>
            </div>
        </div>
    </div>
</div>
</section>



<section class="partner-area bg-color pt-70 pb-70">
<div class="container">
    <div class="owl-carousel owl-theme ps-5">
        <div class="partner-item">
            <img src="assets/assets/img/partner-1.png" alt="" >
        </div>
        <div class="partner-item">
            <img src="assets/assets/img/partner-2.png" alt="">
        </div>
        <div class="item">
            <img src="assets/assets/img/partner-3.png" alt="">
        </div>
        <div class="item">
            <img src="assets/assets/img/partner-4.png" alt="">
        </div>
        <div class="item">
            <img src="assets/assets/img/partner-5.png" alt="">
        </div>
    </div>
</div>
</section>


<section class="our-services-area  pt-70 pb-70">
<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="services-content">
                <span class="top-title">Our Services</span>
                <h2>Our Excited & Joyful Pool Services</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita consequatur voluptates amet sed voluptatum fugit debitis magni rem magnam dolores itaque perspiciatis, unde recusandae, sint quae. Dignissimos illo iste quaerat fugiat facilis optio illum quis a? Incidunt nemo quam eius? Incidunt nemo quam eius?</p>
                <a routerLink="" class="default-btn">
                    <span>All services</span>
                </a>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="row">
                <div class="col-md-6">
                    <div class="single-services">
                        <span class="flaticon-swimming-pool"></span>
                        <h3><a routerLink="/pool-renovation">Pool Renovation</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias expedita cupiditate quos tenetur tempora sed, sint libero ad, facilis  </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-services">
                        <span class="flaticon-swimming-pool-3"></span>
                        <h3><a>Pool Remodeling</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam delectus dolor nemo repellat vero repudiandae ipsum facilis </p>
                        <!-- <a href="service-details.html" class="read-more">
                            Read more
                            <i class="flaticon-right-arrow"></i>
                        </a> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-services">
                        <span class="flaticon-temperature-control"></span>
                        <h3><a>Pool Accessories</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, similique! Eligendi aperiam suscipit ratione ullam ad blanditiis. Numquam, </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="single-services">
                        <span class="flaticon-swimming-pool-2"></span>
                        <h3><a routerLink="/pool-cleaning">Pool Tile Cleaning</a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias impedit excepturi quisquam ipsum. Recusandae quibusdam fugiat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>



<section class="testimonial-area bg-color pb-70 pt-70">
<div class="container">
    <div class="testimonial-title">
        <i class="flaticon-employees"></i>
        <h4>What our customers say</h4>
    </div>
    <div class="testimonials-slider owl-theme owl-carousel">
        <div class="testimonial-content">
            <i class="flaticon-straight-quotes"></i>
            <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit earum, inventore necessitatibus tempore eius .”</p>
            <h3>Donald Raho</h3>
        </div>
        <div class="testimonial-content">
            <i class="flaticon-straight-quotes"></i>
            <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quasi ipsum rerum accusamus cupiditate.”</p>
            <h3>Jimmy Neesham</h3>
        </div>
        <div class="testimonial-content">
            <i class="flaticon-straight-quotes"></i>
            <p>“Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quasi ipsum rerum accusamus cupiditate.”</p>
            <h3>Jack Kelish</h3>
        </div>
    </div>
</div>
</section>

<section class="contact-info-area pb-70 pt-70">
<div class="container-fluid">
    <div class="contact-info-bg">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-contact-info">
                    <i class="flaticon-location"></i>
                    <h3>Visit Us</h3>
                    <span>C-23, Sector 63 Noida</span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-contact-info">
                    <i class="flaticon-24-hours-support"></i>
                    <h3>Call Us</h3>
                    <span><a href="tel:9966338956">9966338956</a></span>
                    <span><a href="tel:9966338956">9966338956</a></span>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-contact-info">
                    <i class="flaticon-email"></i>
                    <h3>Email</h3>
                    <span><a href="mailto:info@swimming.com">info@swimming.com</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
</section>


<section class="we-are-here  pt-70 pb-70">
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="we-are-content">
                <span class="top-title">We Are</span>
                <h2>Pool Services Experts in :</h2>
                <ul>
                    <li>
                        <i class="bx bx-check"></i>
                        Lorem, ipsum dolor. Lorem, ipsum dolor.
                    </li>
                    <li>
                        <i class="bx bx-check"></i>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </li>
                    <li>
                        <i class="bx bx-check"></i>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At!
                    </li>
                    <li>
                        <i class="bx bx-check"></i>
                        Lorem ipsum dolor sit amet.
                    </li>
                    <li>
                        <i class="bx bx-check"></i>
                        Lorem ipsum dolor sit amet. lorem4 Lorem ipsum dolor sit.
                    </li>
                    <li>
                        <i class="bx bx-check"></i>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem?
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="we-are-img">
                <img src="assets/assets/img/we-are-img.jpg" alt="" style="border-radius: 11px">
            </div>
        </div>
    </div>
</div>
</section>


<section class="we-are-here contact-bg pb-70 pt-30 mb-30">
<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-lg-6">
            <form class="we-area-form">
            <div class="we-area-title">
                <h2>Get a quote</h2>
            </div>

            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <input type="text" name=""  class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <input type="email" name=""  placeholder="E-mail" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <input type="text" name=""  class="form-control" placeholder="Phone Number">
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group">
                        <select name=""  class="form-control">
                            <option value="">Select Services</option>
                            <option value="">Pool Service</option>
                            <option value="">Swimming Service</option>
                            <option value="">Water Service</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12 col-sm-6">
                    <div class="form-group">
                        <textarea name=""  rows="3" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <button class="default-btn">Send Message</button>

            </form>
        </div>
    </div>
</div>
</section>

<app-firstfooter></app-firstfooter>
