<app-firstheader></app-firstheader>
<div class="page-title-area bg-25">
    <div class="container">
        <div class="page-title-content">
            <h2>Prizing</h2>
            <ul>
                <li>
                    <a routerLink="">
                        Home 
                    </a>
                </li>
                <li class="active">Prizing</li>
            </ul>
        </div>
    </div>
</div>

<section class="pricing-area bg-color pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Pricing plans</span>
            <h2>Pool service plans & packages</h2>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-pricing">
                    <h3>Basic plan</h3>
                    <h2>29<Sub>$</Sub></h2>
                    <span class="plans">Weekly pool service plans</span>

                    <ul>
                        <li>Pool Renovation</li>
                        <li>Pool cleaning</li>
                        <li>Pool Renovation</li>
                        <li>Equipment inspection</li>
                    </ul>

                    <a href="#" class="default-btn">
                        <span>Choose plan</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-pricing active">
                    <h3>Ultra plan</h3>
                    <h2>99<Sub>$</Sub></h2>
                    <span class="plans">Monthly pool service plans</span>

                    <ul>
                        <li>Pool Renovation</li>
                        <li>Pool cleaning</li>
                        <li>Pool Renovation</li>
                        <li>Equipment inspection</li>
                    </ul>

                    <a href="#" class="default-btn">
                        <span>Choose plan</span>
                    </a>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="single-pricing">
                    <h3>Enterprise plan</h3>
                    <h2>999<Sub>$</Sub></h2>
                    <span class="plans">Yearly pool service plans</span>

                    <ul>
                        <li>Pool Renovation</li>
                        <li>Pool cleaning</li>
                        <li>Pool Renovation</li>
                        <li>Equipment inspection</li>
                    </ul>

                    <a href="#" class="default-btn">
                        <span>Choose plan</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="we-are-here contact-bg pb-70 pt-30 mb-30">
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-lg-6">
                <form class="we-area-form">
                <div class="we-area-title">
                    <h2>Get a quote</h2>
                </div>

                <div class="row">
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="email" name="" id="" placeholder="E-mail" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <input type="text" name="" id="" class="form-control" placeholder="Phone Number">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <div class="form-group">
                            <select name="" id="" class="form-control">
                                <option value="">Select Services</option>
                                <option value="">Pool Service</option>
                                <option value="">Swimming Service</option>
                                <option value="">Water Service</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-6">
                        <div class="form-group">
                            <textarea name="" id=""  rows="3" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <button class="default-btn">Send Message</button>

                </form>
            </div>
        </div>
    </div>
 </section>
<app-firstfooter></app-firstfooter>
