


<!-- header -->
		<div class="header-bg">

			<header class="main-header">

				<div class="container_header phone_view">

					<div class="container-fluid">

						<div class="row">
							<div class="col-md-12">
								<div class="logo d-flex align-items-center">
									<a routerLink="/dashboard"> <span class="logo-default">
											<img src="assets/images/rainet_logo.png" alt="" class="d-none d-lg-block" style="width: 143px;">
											<img src="assets/images/rainet_logo.png" alt="" class="d-block d-lg-none" style="width: 145px;">

										</span> </a>
										<div class="icon_menu">
											<a href="javascript:;" class="menu-toggler sidebar-toggler"></a>
										</div>

										
								</div>
								

								<div class="right_detail">
									<div class="row d-flex align-items-center justify-content-end">
										<div class="col-xl-7 col-12 d-flex justify-content-end">
											<div class="right_bar_top d-flex align-items-center">

												<div class="dropdown dropdown-user">
													<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="true"> <img class="img-circle pro_pic" src="assets/images/about-1.jpg" alt=""> <span class="name_admin">{{user}}</span>
														<span class="arrow"></span> </a>
													<ul class="dropdown-menu">
														<li *ngIf="type=='admin'" class="nav-item">
															<a class="nav-link" type="button" data-toggle="modal" data-target="#exampleModal" (click)="settingClicked()">
																<i class="fa fa-gear"></i>&nbsp;Settings
															</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" routerLink="/forget-password"><i class="fa fa-pencil"></i>Reset password</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" routerLink=""> <i class="icon-logout"></i><span (click)="logout()"> Log Out</span> </a> 
														</li>
													</ul>
												</div>
												
											</div>
										</div>

									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

				<div class="container_header border_top_bott">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12">
								<div class="navigation scroll_auto">
									<ul id="dc_accordion"
										class="sidebar-menu tree d-lg-flex">
										<li *ngIf="type=='admin' || type=='staff'">
											<a routerLink="/dashboard"> <i class="fa fa-home"></i><span>Dashboard</span> </a>									
										</li>
	
										<li class="menu_sub" *ngIf="type=='admin'">
											<a routerLink="/manage-store"> <i class="fa fa-pie-chart"></i> <span>Manage store</span> <span
													class="arrow"></span> </a>
											<ul class="down_menu">
												<li>
													<a routerLink="/add_store">Add store</a>
												</li>
												<li>
													<a routerLink="/manage-store">Manage store</a>
												</li>
												
											</ul>
										</li>
										<li class="menu_sub" *ngIf="type=='admin'">
											<a routerLink="/manage-staff"> <i class="fa fa-user-plus"></i> <span>Manage staff</span> <span
													class="arrow"></span> </a>
											<ul class="down_menu">
												<li>
													<a routerLink="/add-staff">Add staff</a>
												</li>
												<li>
													<a routerLink="/manage-staff">Manage-staff</a>
												</li>
												
											</ul>
										</li>
										
									
										<li class="menu_sub" *ngIf="type=='staff' || type=='admin'">
											<a routerLink="/manage-booking"><i class="fa fa-wpforms"></i> <span>Manage Booking</span> <span
													class="arrow"></span> </a>
											<ul class="down_menu">
												
												<li>
													<a routerLink="/booking">Booking</a>
												</li>
												<li>
													<a routerLink="/manage-booking">Manage Booking</a>
												</li>				
											</ul>
										</li>
										<li class="menu_sub" *ngIf="type=='admin'">
											<a routerLink="/manage-item"> <i class="icon-grid"></i> <span>Inventory</span> <span
													class="arrow"></span> </a>
											<ul class="down_menu">
												<li>
													<a routerLink="/add-item">Add Item</a>
												</li>
												<li>
													<a routerLink="/manage-item">Manage Item</a>
												</li>
												
											</ul>
										</li>
										
										<li class="menu_sub float-right">
											<a routerLink=""> <i class="icon-logout"></i> <span (click)="logout()">Log out</span></a>
												<span class="arrow"></span> 
											
										</li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>

			</header>

		</div>
		<!-- header_End -->
<!-- Modal -->
<div *ngIf="popup==true" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<form [formGroup]="settingForm" (ngSubmit)="submitSettingData()">
			<div class="modal-body">

				<input type="email" class="form-control" placeholder="email" formControlName="email" [ngClass]="{'is-invalid':Submitted && f['email'].errors}">
				<div *ngIf="Submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="Submitted && f['email'].errors['required']">Email is required</div>
                    <div *ngIf="Submitted && f['email'].errors['pattern']">Invalid email</div>
                </div>
				<br><input type="number" class="form-control" placeholder="contact" formControlName="contact" [ngClass]="{'is-invalid':Submitted && f['contact'].errors}">
				<div *ngIf="Submitted && f['contact'].errors" class="invalid-feedback">
                    <div *ngIf="Submitted && f['contact'].errors['required']">Contact is required</div>
                    <div *ngIf="Submitted && f['contact'].errors['pattern']">Invalid contact</div>
                </div>
				<br><input type="text" class="form-control" placeholder="address" formControlName="address" [ngClass]="{'is-invalid':Submitted && f['address'].errors}">
				<div *ngIf="Submitted && f['address'].errors" class="invalid-feedback">
                    <div *ngIf="Submitted && f['address'].errors['required']">Address is required</div>
                    <div *ngIf="Submitted && f['address'].errors['pattern']">Invalid Address</div>
                </div>  
			</div>
			  <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary">Save changes</button>
			  </div>
		</form>
		
	  </div>
	</div>
  </div>