<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container-fluid">
        <div class="login-content">
            <div class="logo">
                <a href="#">
                    <strong class="logo_icon">
                        <img alt="" src="assets/images/rainet_logo.html" style="width:150px;">
                    </strong>
                    <span class="logo-default">
                        <img alt="" src="assets/images/rainet_logo.png" style="width:150px;">
                    </span>
                </a>
            </div>
            <div class="login-form" style="border-radius: 20px;">
                <form *ngIf="show==false&&passwordPage==false && !spinner" [formGroup]="forgetPassword" (ngSubmit)="forgetPasswordSubmit()">
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" formControlName="email" class="form-control" placeholder="Email">
                        <span class="text-danger" *ngIf="submitted==false && forgetPassword.get('email')?.touched && forgetPassword.get('email')?.hasError('required')">Email is required</span>
                        <span class="text-danger" *ngIf="submitted==false && forgetPassword.get('email')?.touched && forgetPassword.get('email')?.hasError('pattern')">Invalid email</span>   
                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Get Otp</button>   
                </form>
                <form *ngIf="show==true && !spinner" [formGroup]="generateOtp" (ngSubmit)="otpSubmit()">
                    <div class="form-group">
                        <label>Enter Otp</label>
                        <input type="text" formControlName="otp" class="form-control" placeholder="Enter Otp">
                        <span class="text-danger" *ngIf="submitted==false && generateOtp.get('otp')?.touched && generateOtp.get('otp')?.hasError('required')">OTP required</span>
                        <span class="text-danger" *ngIf="otpMatched==true">OTP invalid</span>
                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">submit Otp</button>   
                </form>
                <form *ngIf="passwordPage==true" [formGroup]="passwordResetPage" (ngSubmit)="passwordSubmit()">
                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control" placeholder="New Password">
                        <span class="text-danger" *ngIf="submitted==false && passwordResetPage.get('password')?.touched && passwordResetPage.get('password')?.hasError('required')">New Password Required</span>
                    </div>
                    <div class="form-group">
                        <input type="password" formControlName="confirm_password" class="form-control" placeholder="Confirm Password">
                        <span class="text-danger" *ngIf="submitted==false&& passwordMatch && passwordResetPage.get('confirm_password')?.touched && passwordResetPage.get('confirm_password')?.hasError('required')">Confirm Password Required</span>
                    </div>
                    <div class="form-group">
                        <div class="text-danger" *ngIf="passwordMatch==false">Passsword and Confirm Password didn't match.</div>
                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Reset Password</button>   
                </form>
                <form>
                    <div class="text-center">
                        <div *ngIf="spinner==true" class="spinner-border" style="width: 3rem; height: 3rem; " role="status">
                            <span class="sr-only align-content-center">Loading...</span>
                        </div>
                    </div>
                      
                </form>
            </div>
        </div>
    </div>
</div>