input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
      }

      .add-item-cls{
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      @media (max-width:767px){
        .add-item-cls{
          position: relative;
          bottom: 0;
          width: 100%;
        }
      }
    
      